<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">

    <!-- Bootstrap CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/toastr/css/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/vendor/bootstrap-table/css/bootstrap-table.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>questionnaire</title>
</head>

<body>

    <!--nav start-->
    <nav class="navbar  navbar-inverse navbar-static-top ">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar"
                        aria-controls="bs-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/views/index.html"><i>Questionnaire investigation</i></a>
            </div>
            <nav id="bs-navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">

                <ul class="nav navbar-nav">
                    <li><a href="/paper">我要发布</a></li>
                    <li><a href="/views/paper_list.html">问卷列表</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="landr" style="display: none">
                    <li><a href="/views/register.html">注册</a></li>
                    <li><a href="/views/login.html">登录</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right" id="il" style="display: none;">
                    <li><a href="/#" style="display: none;" id="backManager">后台管理</a></li>
                    <li>
                        <div class="dropdown">

                            <button class="btn btn-link " href="#" type="button" id="dropdownMenu1" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true">
                                <img src="/static/img/akari.jpg" class="img-circle headimg" alt="xixixi~" width="35px">
                                <span class="nick">nickname</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="/views/member_info.html">个人中心</a></li>
                                <li><a href="/views/member_publish.html">我的发布</a></li>
                                <li><a href="/views/member_do.html">我的参与</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout">退出</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>

            </nav>
        </div>
    </nav>
    <!--nav end-->

    <div class="container">

        <div class="page-header">
            <h1>问卷列表</h1>
            <h6 class="text-muted">问卷集中营，总有一份是你喜欢的～</h6>
        </div>
        <table id="table"></table>


    </div>

    <div class="modal fade" id="info">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">试卷详情</h4>
                </div>
                <div class="modal-body">
                    <h1 id="md-title" class="text-center">问卷列表</h1>
                    <h6 id="md-subtitle" class="text-muted text-center">喵喵喵,喵呜喵咪咪～</h6>
                    <h5 class="text-right">出题人：<img id="md-authorImg" src="#" class="img-circle" alt="喵喵喵~"
                            width="25px"><label id="md-author">miammmm</label></h5>
                    <h6>开始时间: <label id="md-startDate">2020-20-20</label>
                        结束时间: <label id="md-endDate">2020-20-20</label>
                        问卷时长: <label id="md-timelimit">100</label>
                    </h6>
                    <blockquote>
                        <p id="md-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                            erat a ante.</p>
                    </blockquote>
                    <img src="#" id="md-img" class="img-responsive" alt="Image">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                    <a type="button" class="btn btn-primary enterPaper">进入答题</a>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="/static/vendor/toastr/js/toastr.min.js"></script>
    <script src="/static/vendor/bootstrap-table/js/bootstrap-table.min.js"></script>
    <script src="/static/vendor/bootstrap-table/js/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="/static/vendor/bootstrap-table/js/extensions/mobile/bootstrap-table-mobile.min.js"></script>

    <script src="/static/js/paper_list.js"></script>
</body>

</html>